@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    margin: 0;
}
header{
    background-color: black;
    color: white;
    padding: 9px 0px 3px 0px;
    height: 69px;
}
header h1{
    display: inline;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 43px;
    float: left;
    margin-top: 9px;
    margin-right: 9px;
    padding: 3px 3px 3px 33px
}
nav ul{
    display: inline;
    padding: 23px;
    float: left;
    margin-left: 150
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    color: white;
    float: left;
    margin-left: 23;
    margin-bottom: 19;
    margin-right: 27
}
nav ul li a{
    color: white;
    text-decoration: none;
}
#nav {
    font-family: 'Montserrat', sans-serif;
}
.homered:hover{
    background-color: red;
    padding:18px
}
.divider{
    background-color: red;
    height: 5px; 
}
.img{
    width: 100%;
    height: auto;
}
.architect{
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
  font-weight: 350;
    padding: 5px 90px 50px 50px;
}
.div4{
    background-color:bisque;
    height: 300px;
}
.text3{  padding: 100px 100px 100px 100px;
    font-family: 'Oswald', sans-serif; 
    margin: 0% 0% 0% 60%;
}
.text4{
    font-size: 90px;
    margin: -109px 0px 3px 1000px;
    font-family: 'Montserrat', sans-serif;
}



.spinner {
position: absolute;
top: 48%;
left: 48%;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ff6347;
z-index: 999999;
}


.123{
    margin: 0px 0px 0px 90px;
}
